/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Pop {font-family: "Poppins", serif !important;}

/* rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.rubik {font-family: "Rubik", sans-serif !important;}

/* 가비아 */
@font-face {
  font-family: 'GabiaGosran-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/GabiaGosran-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.Gabia {font-family: 'GabiaGosran-Regular' !important;}

/* 프리텐다드 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.Prtd {font-family: 'Pretendard-Regular' !important;}

:root {
	--rem-vw : min(calc(10 / 768 * 100vw), 10px);
  --header-H : 7rem;
}

html {font-size: var(--rem-vw);}
body {margin: 0; padding: 0; background: #efefef;}
* {
  box-sizing: border-box; line-height: 1; margin: 0; padding: 0;
  font-family: "Noto Sans KR", serif;
}
a {text-decoration: none;}
h1,h2,h3,h4,h5,p,span,b,strong {margin: 0; padding: 0;}
#root {width: 100%;}
.App {width: 100%; position: relative;}
ul,ol,li {list-style: none; padding: 0; margin: 0;}
button, input, submit {border: none; background: none;}

.ft_400 {font-weight: 400;}


/* 페이지 규격 */
.containerV1 {
	width: 100%; max-width: 1700px;
	margin: 0 auto; position: relative;
}

@media (max-width: 1730px) {
	.containerV1 {max-width: 100%;}
}

/* 컴포넌트 전환 애니메이션 */
.stayAni {
	opacity: 0;
}
/* active */
.loadPage {opacity: 1; transition: opacity 1s 0.3s;}




/* main coding */

.App {
  width: 100%; height: 100vh; position: relative;
  padding: var(--header-H) 15px var(--header-H);
}

header {
  position: fixed;
  width: 100%; height: var(--header-H);
  top: 0;
  left: 0;
  padding: 0 15px;
  z-index: 1000;
}

header .containerV1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #logo {
  text-transform: uppercase; letter-spacing: 1px;
  font-size: 18px; color: #111;
}
header #logo > span {font-family: inherit; color: #fe5058;}

header .Menu {
  display: flex;
  gap: 4rem;
}
header .Menu > a {
  font-size: 18px;
  color: #111;
  font-weight: bold;
  /* text-transform: uppercase; */
}
header .Menu > a > span {
  font-family: inherit; font-weight: 500;
  letter-spacing: 0.5px;
}

@media (min-width: 769px) {
  header .mob_btn {display: none;}
  header .mob_screen {display: none;}
}

@media (max-width: 768px) {
  header .outer {
    --w-size : 200;
    position: absolute; top: 0; right: calc(var(--w-size) * -1px + -15px);
    background: #ddd;
    width: calc(var(--w-size) * 1px);
    height: 100vh;
    padding: var(--header-H) 0 0;
    z-index: 2;
    transition: right 0.3s;
  }

  header .outer .Menu {
    display: flex; flex-direction: column;
    gap: 20px;
  }
  header .outer .Menu > a {
    padding: 10px 15px; text-align: center;
    width: 100%;
  }

  header .mob_btn {
    --transition : 0.3s;
    position: relative; z-index: 3;
    cursor: pointer; width: 30px; height: 20px;
  }
  header .mob_btn::before, header .mob_btn::after {
    content: ''; position: absolute; width: 100%; height: 2px;
    background: #000; left: 0;
    transition: var(--transition);
  }

  header .mob_btn::before {top: 0;}
  header .mob_btn::after {bottom: 0;}

  header .mob_btn span {
    position: absolute; top: 50%; transform: translateY(-50%);
    width: 100%; height: 2px; display: block;
    border-bottom: 2px solid #000;
    transition: var(--transition);
  }

  header .mob_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
  }

  /* header Menu active */
  header .outer.active {right: -15px;}
  header .mob_btn.active span {opacity: 0;}
  header .mob_btn.active::before {
    top: 1.5rem;
    transform: rotate(45deg);
  }
  header .mob_btn.active::after {
    bottom: 1rem;
    transform: rotate(-45deg);
  }
  header .mob_screen.active {display: block;}
}






.App .container {
  width: 100%; height: 100%; 
  display: flex; overflow: hidden;
  gap: 5rem;
}

/* 메인 왼쪽 스크린 */
.main_screen {
  min-width: 34vw; height: 100%;
  background: url('./img/original.gif') no-repeat center center / cover;
}

@media (min-width: 1921px) {
  .App .container {align-items: center;}
  .main_screen {min-width: 650px;}
}

/* 오른쪽 박스 */
.Routes_Box {width: 100%;}
.secBox {
  overflow-y: scroll; height: 100%;
  -ms-overflow-style: none;
}
.secBox::-webkit-scrollbar{
 display:none;
}

/* About @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#About .gridBox .gr_item {
  margin-bottom: 5rem;
}

#About .gridBox .gr_item .title-line {
  padding: 3rem 10px; 
  position: relative;
  display: flex; align-items: center;
  gap: 3rem;
}

#About .gridBox .gr_item .title-line > h2 {
  font-size: max(14px, 1.6rem); text-transform: uppercase;
  width: fit-content; letter-spacing: 1.5px; color: #000;
}

#About .gridBox .gr_item .title-line > .line {
  flex: 1;
  height: 1px; background: #000;
}

#About .gridBox .gr_item > dd {
  padding-left: 2rem;
}
#About p.text1 {
  font-size: max(14px, 1.6rem);
  color: #333;
  line-height: 1.6;
}

/* list */
#About .gridBox .gr_item ul.list > li:not(:last-child) {
  margin-bottom: 2rem;
}
#About .gridBox .gr_item ul.list .list_tit {
  position: relative; display: flex;
  gap: 10px; align-items: center;
  flex-wrap: wrap;
}

#About .gridBox .gr_item ul.list .list_tit > h4 {
  font-size: max(14px, 1.6rem); padding-left: 0.7em;
}
#About .gridBox .gr_item ul.list .list_tit > h4 > span {
  position: relative;
}
#About .gridBox .gr_item ul.list .list_tit > h4 > span::before {
  content:''; position: absolute;
  top: 50%; transform: translateY(-50%);
  left: -0.7em; width: 5px; height: 5px;
  background: #000; border-radius: 50%;
}

#About .gridBox .gr_item ul.list .list_tit .tit_label {
  font-size: max(10px, 1.3rem); font-weight: 500; padding: 5px 10px;
  border-radius: 3px; background: #617eff;
  color: #eee; margin-top: 1px;
  cursor: default;
}
#About .gridBox .gr_item ul.list > li .text1 {
  margin-top: 2rem;
}

/* skill */
#About .list_ty2 {
  gap: 5px; width: 100%; max-width: 90%;
  position: relative; margin-left: 2rem;
}

/* 스킬 탭버튼 */
#About .list_ty2 > li:not(:last-child) {
  margin-bottom: 5rem;
}

#About .list_ty2 > li > .skill_tit {
  border-bottom: 1px solid #333;
}

#About .list_ty2 > li > .skill_tit h3 {
  font-size: max(13px, 1.6rem); font-weight: bold;
  text-transform: uppercase; letter-spacing: 2px;
  padding: 5px 10px; width: fit-content;
  border: 1px solid #333;
  border-bottom: none; background: #eee;
  border-radius: 5px 5px 0 0;
  position: relative; top: 1px;
  margin-left: 1.5rem;
}

/* 스킬 내용 */
#About .list_ty2 > li > ul {
  display: flex; gap: 5rem; 
  width: 100%; height: 100%;
  flex-wrap: wrap; z-index: 1;
  padding: 4rem 15px 2rem 3rem;
  max-width: 650px;
}


#About .list_ty2 > li > ul > li {
  display: flex; 
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}
#About .list_ty2 > li > ul > li .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5.5rem;
}
#About .list_ty2 > li > ul > li .img img {width: 100%;}
#About .list_ty2 > li > ul > li span {
  font-size: max(10px, 1.2rem); font-weight: bold;
  line-height: 1.2; letter-spacing: 1px;
}


/* Portfolio @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#Portfolio > h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin: 5rem auto;
}

#Portfolio > .list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
}

#Portfolio > .list_container .item {
  position: relative; padding-bottom: 60%;
}

#Portfolio > .list_container .item .img_frame {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%; background: #666;
}


footer {
  width: 100%; height: var(--header-H);
}

footer .containerV1 {
  height: 100%;
}
footer #ft_logo {
  font-size: 1.8rem; 
  font-weight: 500;
  width: fit-content;
  margin: 0 auto; 
  line-height: var(--header-H);
  cursor: default;
}




/* mobile */

@media (max-width: 992px) {
  .App .container {
    flex-direction: column; 
    overflow: auto; height: auto;
  }

  #About .gridBox .gr_item .title-line {margin-bottom: 4rem;}
  #About .list_ty2 {margin-left: 0;}
}
